div.single-building {
    padding: 1rem;

    > div.single-building-information {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        > div.building-text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > h3.building-header {
                font-size: 1.5rem;

                > span.building-level {
                    margin-left: 0.5rem;
                    padding: 0.25rem 1rem;
                    border-radius: 0.5rem;
                    background-color: var(--auth-focus-outline-color);
                    color: var(--auth-active-bg-color);
                }
            }

            > p.building-description {
                font-size: 1.1rem;
                line-height: 1.5;
                letter-spacing: 1px;
            }
        }

        > img {
            border-radius: 1rem;
            filter: drop-shadow(2px 4px 6px var(--auth-passive-bg-color));
        }
    }

    > div.single-building-improvement {
        padding: .5rem;
        border: 2px solid red;

        > div.single-building-timer {
            font-weight: bold;
            font-size: 1.2rem;
            display: flex;
            gap: .5rem;
        }
    }
}
