div.dashboard-layout-container {
    background-image: url(../assets/dashboard_bg1737x1000.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}

div.dashboard-layout-container.first-car-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    color: white;
}

.first-car-selection > section.cards-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    width: 50%;
}

.first-car-selection > section.cards-container > article.car {
    background-color: rgb(var(--auth-active-bg-color-rgb), 0.9);
    box-shadow: 0.1rem 0.1rem 0.5rem 0.25rem var(--auth-focus-outline-color);
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    transition:
        background-color 0.5s,
        color 0.5s;
}

.first-car-selection > section.cards-container > article.car:hover {
    background-color: rgb(var(--auth-active-bg-color-rgb), 1);
    color: var(--auth-focus-outline-color);
    cursor: pointer;
}

.first-car-selection > section.cards-container > article.car > img {
    width: 20rem;
}

.first-car-selection > section.cards-container > article.car > section.car-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > p {
        line-height: 1.4;
        letter-spacing: 1px;
    }
}

.first-car-selection > section.cards-container > div.first-car-loading-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--auth-active-bg-color);
}

header {
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header > h1 {
    font-family: "Bungee Outline", sans-serif;
    font-size: 3rem;
    position: absolute;
    display: flex;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
}

header > section.time-container {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    gap: 0.5rem;
    font-size: 1.2rem;
}

header > svg {
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    fill: red;
}

header > svg:hover {
    cursor: pointer;
}

div.dashboard-content-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 2rem;
}

div.dashboard-content-container > aside.app-sidebar {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

main.app-content {
    align-self: flex-start;
}

main.app-content h1.content-headline {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    background-color: rgba(var(--auth-active-bg-color-rgb), 0.5);
    font-variant: small-caps;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    border: 2px solid white;
}

main.app-content > section.tmp-bg {
    margin-top: -2px;
    color: var(--auth-focus-outline-color);
    background-color: rgba(var(--auth-active-bg-color-rgb), 0.9);
    border: 2px solid var(--auth-focus-outline-color);
    padding: 2rem;
    border-radius: 1rem;
}

main.app-content > img.dashboard-banner {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border: 1px solid var(--auth-focus-outline-color);
    border-bottom: none;
}

section.dashboard-content {
    display: flex;
    flex-direction: column;
    color: var(--auth-focus-outline-color);
    border: 1px solid var(--auth-focus-outline-color);
    border-top: none;
    background-color: rgba(var(--auth-active-bg-color-rgb), 0.9);

    > article {
        border-bottom: 1px solid var(--auth-focus-outline-color);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        letter-spacing: 1px;

        &:last-child {
            border-bottom: none;
        }
    }
}

article.patch-notes-container {
    div.patch-notes-header {
        display: flex;
        justify-content: space-between;

        > h1 {
            font-size: 2rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            > span {
                background-color: var(--auth-focus-outline-color);
                padding: 0.25rem 1rem;
                color: var(--auth-active-bg-color);
                border-radius: 1rem;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }

        > span {
            display: flex;
            align-items: center;
            font-size: 1.1rem;

            &:hover {
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    div.patch-notes-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > div.patch-notes-subject-container {
            > p {
                border-left: 0.25rem solid var(--auth-focus-outline-color);
                font-size: 1.5rem;
                margin-bottom: 0.25rem;
                padding-left: 0.5rem;
            }

            > ul {
                padding-left: 2rem;

                > li {
                    line-height: 1.3;
                    font-size: 1.05rem;
                }
            }
        }
    }
}

article.rennergebnis-container {
    > div.rennergebnis-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div.rennergebnis-header-text {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            > span {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }

        > a {
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: var(--auth-focus-outline-color);

            &:hover {
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }

    > div.rennergebnis-content {
        display: flex;
        align-items: center;
        gap: 1rem;

        > div.rennergebnis-ranking-container {
            color: white;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            background-color: var(--auth-focus-outline-color);
            padding: 0.5rem 1rem;
            font-weight: bold;

            > span.rennergebnis-ranking {
                font-size: 2rem;
            }
        }

        > div.rennergebnis-time-container {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

article.tuninganzeige-container {
    > div.tuninganzeige-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        > p {
            font-size: 1.25rem;
            font-weight: bold;
        }

        > a {
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: var(--auth-focus-outline-color);

            &:hover {
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }

    > div.tuninganzeige-content {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        > div.tuninganzeige-car-container {
            border: 1px solid var(--auth-focus-outline-color);
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            > div.tuninganzeige-car-header {
                display: flex;
                align-items: center;
                gap: 1rem;

                > img {
                    width: 5rem;
                    height: 2.5rem;
                }

                > span {
                    font-weight: bold;
                    font-size: 1.1rem;
                }
            }

            > div.tuninganzeige-car-content {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                > div.tuninganzeige-car-content-component {
                    display: flex;
                    align-items: center;
                    font-size: 1.1rem;
                    justify-content: center;
                    font-weight: bold;
                    gap: 0.5rem;
                }

                > div.tuninganzeige-car-content-time {
                    display: flex;
                    justify-content: end;

                    > span {
                        display: flex;
                        align-items: center;

                        &.finished {
                            color: green;
                        }

                        &.pending {
                            color: lightblue;
                        }
                    }
                }
            }
        }
    }
}
