section.user-car-container {
    background-color: rgba(var(--auth-active-bg-color-rgb), 0.8);
    border-radius: 1rem;
    border: 2px solid var(--auth-focus-outline-color);
    margin-top: -2px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.user-car-container > div.car-container {
    color: var(--auth-focus-outline-color);
    display: flex;
    gap: 1rem;
}

section.user-car-container > div.car-container > img {
    width: 20rem;
}

section.user-car-container > div.car-container > div.car-options > h2 {
    display: flex;
    gap: 0.5rem;
}

section.user-car-container > div.car-container > div.car-options > h2 > button {
    align-self: flex-start;
    color: white;
    font-size: 0.8rem;
    background: none;
    border: none;
}

section.user-car-container > div.car-container > div.car-options > h2 > button:hover {
    cursor: pointer;
    color: var(--auth-focus-outline-color);
}

section.user-car-container > div.car-container > div.car-options > h2 > span {
    font-size: 0.8rem;
    color: var(--auth-focus-outline-color);
}
