aside.app-sidebar {
    > nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;

        > a {
            display: flex;
            padding: 0.5rem 0;
            gap: 1rem;
            align-items: center;
            color: white;
            background-color: rgba(var(--auth-active-bg-color-rgb), 0.9);
            font-size: 1.2rem;
            border: 2px solid white;

            &:hover {
                border-color: var(--auth-focus-outline-color);
                color: var(--auth-focus-outline-color);
                font-weight: bold;
            }

            > svg {
                margin-left: 1rem;
                width: 2rem;
                height: 2rem;
            }
        }
    }
}