section.races-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > div.single-race-container {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        padding: 1rem;
    }
}
