section.races-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > div.single-race-container {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        padding: 1rem;
    }
}

section.race-ranking-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > span.ranking-feedback {
        font-weight: bold;
        font-size: 1.5rem;
        border-bottom: 1px solid var(--auth-focus-outline-color);
        padding-bottom: .5rem;
    }

    > div.ranking-user-container {
        
        > h2 {
            margin-bottom: .5rem;
        }
    }

    > button.get-race-winnings {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border: none;

        &:hover {
            background-color: lightgrey;
            cursor: pointer;
        }

        &:disabled {
            background-color: #111111;
            color: white;
            cursor: not-allowed;
        }
    }
}
