section.user-info {
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(var(--auth-active-bg-color-rgb), .9);
    box-shadow: .1rem .1rem .75rem .1rem white;

    > h2 {
        margin-bottom: 1rem;
    }

    td {
        padding-right: 1rem;
    }
}